<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ cliente.nome }}</title>
</head>
<body>
    <h1>{{ cliente.nome }}</h1>
    <p>{{ cliente.email }}</p>
    <h2>Lista de orçamentos</h2>
    <table border="1">
    <thead>
        <tr>
            <th>Data e hora</th>
            <th>Custo total (R$)</th>
        </tr>
    </thead>
    <tbody>
        {% for orcamento in orcamentos %}
        <tr>
            <td>{{ orcamento.data_hora }}</td>
            <td>{{ orcamento.custo_total }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>